* {
  -webkit-user-select: none;
}

html,
body {
  height: 100%;
  margin: 0;
}

section {
  position: relative;
  display: inline-block;
  width: 60%;
  background-color: white;
  height: 90%;
  -ms-touch-action: none;
}

aside {
  display: inline-block;
  overflow: hidden;
  width: 30%;
  height: 90%;
}

aside>div {
  border-bottom: 1px solid gray;
}
