* {
  -webkit-user-select: none;
  -ms-touch-action: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

aside {
  position: absolute;
  width: 40px;
  height: 40px;
  background: purple;
  /* make sure this is always on top */
  z-index: 1;
}

section {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: -10px;
  margin-left: -10px;
  top: 50%;
  left: 50%;
  background: steelblue;
}
