* {
  -webkit-user-select: none;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-left: -50px;
  margin-top: -50px;
  background: lightblue;
}
